
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: 18px;
}

body{
    background-image: url(./Assets/moedas.png);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
}

.container {
    width: 375px;
    background-color: rgb(244, 244, 244);
    
}

header{
    flex-wrap: wrap;
    background-color: #1b83e2;
    height: 66px;
    display: flex;
    justify-content: center;
    align-content: center;
}

h1{
    font-weight: 400;
    font-size: 24px;
    color: #F4F4F4;
    
}

main{
    padding: 24px;
}

label{
    font-weight: 400;
    font-size: 14px;

    color: #777777;
}

select{
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    display: block;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 24px;
}

input{
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    display: block;
    outline: none;
    padding: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    font-size: 18px;
}

button{
    background: #1B83E2;
    border-radius: 25px;
    height: 48px;
    width: 100%;
    outline: none;
    border: none;
    margin-top: 24px;
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 16px;
    color: #F4F4F4;
    padding: 15px auto;
    cursor: pointer;
}

button:hover{
    opacity: 0.9;
}

button:active{
    opacity: 0.6;
}

section{
    border: 1px solid #1B83E2;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.currency-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.currency-name{
    font-weight: 400;
    font-size: 14px;
    color: #777777;
}

.currenty-value{
    font-weight: 700;
    font-size: 20px;
    color: #1B83E2;
}

